@import url(https://fonts.googleapis.com/css?family=Poiret+One);
.fuenteTexto {
    font-family: "Poiret One";
    text-align: center;
}

.estiloTitulo {
    text-align: center;
    text-decoration: solid;
    background-color: aquamarine;
    color: blue;
}

.imagenesPrueba {
    width: 100%;
    max-width: 800px;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.colorFondo {
    background-color: bisque;
<<<<<<< HEAD
}
=======
}
>>>>>>> 5a2297784994239b5c06063692b7a821ca59a0a3
